#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
}

.product img {
  max-width: 100%;
  height: 150px;
  object-fit: contain;
}

mark {
  background: yellow;
}
